<a href="https://colab.research.google.com/github/samikshakak/ML_ASSIGNMENT/blob/main/ml2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd


file_path = '/content/AWCustomers.csv'
df = pd.read_csv(file_path)
print(df.head())

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   06-03-2017
1   06-03-2017
2   06-03-2017
3   06-03-2017
4   06-03-2017

[5 rows x 24 columns]

In [ ]:

print(df.info())


print(df.describe(include='all'))


print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18361 entries, 0 to 18360
Data columns (total 24 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   CustomerID            18361 non-null  int64
 1   Title                 101 non-null    object
 2   FirstName             18361 non-null  object
 3   MiddleName            10572 non-null  object
 4   LastName              18361 non-null  object
 5   Suffix                3 non-null      object
 6   AddressLine1          18361 non-null  object
 7   AddressLine2          311 non-null    object
 8   City                  18361 non-null  object
 9   StateProvinceName     18361 non-null  object
 10  CountryRegionName     18361 non-null  object
 11  PostalCode            18361 non-null  object
 12  PhoneNumber           18361 non-null  object
 13  BirthDate             18361 non-null  object
 14  Education             18361 non-null  object
 15  Occupation            18361 non-null  object
 16  Gender                18361 non-null  object
 17  MaritalStatus         18361 non-null  object
 18  HomeOwnerFlag         18361 non-null  int64
 19  NumberCarsOwned       18361 non-null  int64
 20  NumberChildrenAtHome  18361 non-null  int64
 21  TotalChildren         18361 non-null  int64
 22  YearlyIncome          18361 non-null  int64
 23  LastUpdated           18361 non-null  object
dtypes: int64(6), object(18)
memory usage: 3.4+ MB
None
          CustomerID Title  FirstName MiddleName LastName Suffix  \
count   18361.000000   101      18361      10572    18361      3
unique           NaN     5        670         44      375      1
top              NaN   Mr.  Katherine          A     Diaz    Jr.
freq             NaN    52         97       1287      209      3
mean    20241.987092   NaN        NaN        NaN      NaN    NaN
std      5336.332731   NaN        NaN        NaN      NaN    NaN
min     11000.000000   NaN        NaN        NaN      NaN    NaN
25%     15621.000000   NaN        NaN        NaN      NaN    NaN
50%     20248.000000   NaN        NaN        NaN      NaN    NaN
75%     24863.000000   NaN        NaN        NaN      NaN    NaN
max     29483.000000   NaN        NaN        NaN      NaN    NaN

             AddressLine1       AddressLine2    City StateProvinceName  ...  \
count               18361                311   18361             18361  ...
unique              12742                166     269                54  ...
top     Attach√© de Presse  Verkaufsabteilung  London        California  ...
freq                   17                 34     420              4410  ...
mean                  NaN                NaN     NaN               NaN  ...
std                   NaN                NaN     NaN               NaN  ...
min                   NaN                NaN     NaN               NaN  ...
25%                   NaN                NaN     NaN               NaN  ...
50%                   NaN                NaN     NaN               NaN  ...
75%                   NaN                NaN     NaN               NaN  ...
max                   NaN                NaN     NaN               NaN  ...

        Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
count       18361           18361  18361         18361  18361.000000
unique          5               5      2             2           NaN
top     Bachelors  Skilled Manual      M             M           NaN
freq         5325            6059   9287          9947           NaN
mean          NaN             NaN    NaN           NaN      0.610588
std           NaN             NaN    NaN           NaN      0.487630
min           NaN             NaN    NaN           NaN      0.000000
25%           NaN             NaN    NaN           NaN      0.000000
50%           NaN             NaN    NaN           NaN      1.000000
75%           NaN             NaN    NaN           NaN      1.000000
max           NaN             NaN    NaN           NaN      1.000000

       NumberCarsOwned NumberChildrenAtHome TotalChildren   YearlyIncome  \
count     18361.000000         18361.000000  18361.000000   18361.000000
unique             NaN                  NaN           NaN            NaN
top                NaN                  NaN           NaN            NaN
freq               NaN                  NaN           NaN            NaN
mean          1.270301             0.338162      0.850389   72754.779642
std           0.913989             0.568957      0.927315   30686.014313
min           0.000000             0.000000      0.000000   25435.000000
25%           1.000000             0.000000      0.000000   53312.000000
50%           1.000000             0.000000      0.000000   61851.000000
75%           2.000000             1.000000      2.000000   87410.000000
max           5.000000             3.000000      3.000000  139115.000000

        LastUpdated
count         18361
unique            2
top      06-03-2017
freq          18291
mean            NaN
std             NaN
min             NaN
25%             NaN
50%             NaN
75%             NaN
max             NaN

[11 rows x 24 columns]
CustomerID                  0
Title                   18260
FirstName                   0
MiddleName               7789
LastName                    0
Suffix                  18358
AddressLine1                0
AddressLine2            18050
City                        0
StateProvinceName           0
CountryRegionName           0
PostalCode                  0
PhoneNumber                 0
BirthDate                   0
Education                   0
Occupation                  0
Gender                      0
MaritalStatus               0
HomeOwnerFlag               0
NumberCarsOwned             0
NumberChildrenAtHome        0
TotalChildren               0
YearlyIncome                0
LastUpdated                 0
dtype: int64

In [ ]:

df_cleaned = df.drop(['CustomerID', 'FirstName', 'LastName'], axis=1)
print(df_cleaned.head())

  Title MiddleName Suffix            AddressLine1 AddressLine2         City  \
0   NaN          C    NaN      7090 C. Mount Hood          NaN   Wollongong
1   NaN        NaN    NaN     3651 Willow Lake Rd          NaN      Shawnee
2   NaN        NaN    NaN  1774 Tice Valley Blvd.          NaN  West Covina
3   NaN        NaN    NaN         2103 Baldwin Dr          NaN    Liverpool
4   NaN          J    NaN         Am Gallberg 234          NaN        Werne

     StateProvinceName CountryRegionName PostalCode          PhoneNumber  ...  \
0      New South Wales         Australia       2500  1 (11) 500 555-0115  ...
1     British Columbia            Canada    V9B 2C3         787-555-0136  ...
2           California     United States      91791         120-555-0111  ...
3              England    United Kingdom     L4 4HB  1 (11) 500 555-0167  ...
4  Nordrhein-Westfalen           Germany      59368  1 (11) 500 555-0113  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

   NumberCarsOwned  NumberChildrenAtHome  TotalChildren  YearlyIncome  \
0                3                     0              1         81916
1                2                     1              2         81076
2                3                     0              0         86387
3                2                     1              2         61481
4                1                     0              0         51804

   LastUpdated
0   06-03-2017
1   06-03-2017
2   06-03-2017
3   06-03-2017
4   06-03-2017

[5 rows x 21 columns]

In [ ]:
try:
    df_cleaned = df.drop(['CustomerID', 'FirstName', 'LastName'], axis=1)
except KeyError as e:
    print(f"KeyError encountered: {e}")
    print("Available columns in DataFrame:", df.columns)

In [ ]:

df_cleaned = pd.get_dummies(df_cleaned, drop_first=True)


from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
df_cleaned[['CustomerId']] = scaler.fit_transform(df_cleaned[['CustomerId']])

print(df_cleaned.head())

KeyError: "None of [Index(['CustomerId'], dtype='object')] are in the [columns]"

In [ ]:
import os
import pandas as pd

# Check if the file exists
file_path = '/AWCustomers.csv'
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print(df.head())
else:
    print(f"File not found: {file_path}")
    # List all files in the current directory
    print("Files in the current directory:", os.listdir('.'))

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   06-03-2017
1   06-03-2017
2   06-03-2017
3   06-03-2017
4   06-03-2017

[5 rows x 24 columns]

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
# Check for missing values
print(df.isnull().sum())

# Option 1: Drop rows with any missing values
df = df.dropna()

# Option 2: Fill missing values
# For numeric columns, you could fill with the mean, median, or any other value
df.fillna(df.mean(), inplace=True)

# For categorical columns, you could fill with the mode
df.fillna(df.mode().iloc[0], inplace=True)

# Check again for missing values
print(df.isnull().sum())
import pandas as pd

# Assuming df is your DataFrame
# Check for missing values
print(df.isnull().sum())

# Option 1: Drop rows with any missing values
df = df.dropna()

# Check if the DataFrame is empty after dropping rows
if df.empty:
    print("DataFrame is empty after dropping rows with missing values.")
else:
    # Option 2: Fill missing values
    # For numeric columns, you could fill with the mean, median, or any other value
    df.fillna(df.mean(), inplace=True)

    # For categorical columns, you could fill with the mode
    df.fillna(df.mode().iloc[0], inplace=True)

# Check again for missing values
print(df.isnull().sum())

CustomerID              0
Title                   0
FirstName               0
MiddleName              0
LastName                0
Suffix                  0
AddressLine1            0
AddressLine2            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64

IndexError: single positional indexer is out-of-bounds

ValueError: Found array with 0 sample(s) (shape=(0, 6)) while a minimum of 1 is required by MinMaxScaler.

# New Section

In [ ]:
import os
import pandas as pd

# Check if the file exists
file_path = '/AWCustomers.csv'
if os.path.exists(file_path):
    df = pd.read_csv(file_path)
    print(df.head())
else:
    print(f"File not found: {file_path}")
    # List all files in the current directory
    print("Files in the current directory:", os.listdir('.'))

   CustomerID Title FirstName MiddleName  LastName Suffix  \
0       21173   NaN      Chad          C      Yuan    NaN
1       13249   NaN      Ryan        NaN     Perry    NaN
2       29350   NaN     Julia        NaN  Thompson    NaN
3       13503   NaN  Theodore        NaN     Gomez    NaN
4       22803   NaN  Marshall          J      Shan    NaN

             AddressLine1 AddressLine2         City    StateProvinceName  ...  \
0      7090 C. Mount Hood          NaN   Wollongong      New South Wales  ...
1     3651 Willow Lake Rd          NaN      Shawnee     British Columbia  ...
2  1774 Tice Valley Blvd.          NaN  West Covina           California  ...
3         2103 Baldwin Dr          NaN    Liverpool              England  ...
4         Am Gallberg 234          NaN        Werne  Nordrhein-Westfalen  ...

         Education      Occupation Gender MaritalStatus HomeOwnerFlag  \
0        Bachelors        Clerical      M             M             1
1  Partial College        Clerical      M             M             1
2        Bachelors        Clerical      F             S             0
3  Partial College  Skilled Manual      M             M             1
4  Partial College  Skilled Manual      M             S             1

  NumberCarsOwned NumberChildrenAtHome TotalChildren  YearlyIncome  \
0               3                    0             1         81916
1               2                    1             2         81076
2               3                    0             0         86387
3               2                    1             2         61481
4               1                    0             0         51804

   LastUpdated
0   06-03-2017
1   06-03-2017
2   06-03-2017
3   06-03-2017
4   06-03-2017

[5 rows x 24 columns]

In [ ]:
import pandas as pd

# Assuming df is your DataFrame
# Check for missing values
print(df.isnull().sum())



# Option 2: Fill missing values
# For numeric columns, you could fill with the mean, median, or any other value
df.fillna(df.mean(), inplace=True)



# Check again for missing values
print(df.isnull().sum())

CustomerID              0
Title                   0
FirstName               0
MiddleName              0
LastName                0
Suffix                  0
AddressLine1            0
AddressLine2            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64
CustomerID              0
Title                   0
FirstName               0
MiddleName              0
LastName                0
Suffix                  0
AddressLine1            0
AddressLine2            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64

In [ ]:
import pandas as pd
from sklearn.preprocessing import MinMaxScaler

# Assuming df is your DataFrame
# Check for missing values
print(df.isnull().sum())

# Option 1: Drop rows with any missing values
# df = df.dropna()
# Instead of dropping all rows with missing values, consider dropping only
# rows where all values are missing. If this doesn't work for your data
# you may have to explore other imputation techniques
df = df.dropna(how='all')


# Option 2: Fill missing values
# For numeric columns, you could fill with the mean, median, or any other value
df.fillna(df.mean(), inplace=True)

# Check again for missing values
print(df.isnull().sum())

# Check if the DataFrame is empty
if df.empty:
    print("DataFrame is empty. Cannot perform scaling.")
else:
    scaler = MinMaxScaler()

    # Normalize only the numerical features
    numerical_features = df.select_dtypes(include=['int64', 'float64']).columns
    df[numerical_features] = scaler.fit_transform(df[numerical_features])

    print(df.head())

CustomerID              0
Title                   0
FirstName               0
MiddleName              0
LastName                0
Suffix                  0
AddressLine1            0
AddressLine2            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64
CustomerID              0
Title                   0
FirstName               0
MiddleName              0
LastName                0
Suffix                  0
AddressLine1            0
AddressLine2            0
City                    0
StateProvinceName       0
CountryRegionName       0
PostalCode              0
PhoneNumber             0
BirthDate               0
Education               0
Occupation              0
Gender                  0
MaritalStatus           0
HomeOwnerFlag           0
NumberCarsOwned         0
NumberChildrenAtHome    0
TotalChildren           0
YearlyIncome            0
LastUpdated             0
dtype: int64
DataFrame is empty. Cannot perform scaling.